# Dependências
/node_modules
/.pnp
.pnp.js

# Variáveis de ambiente
.env                # Isso é CRÍTICO para proteger sua conexão do MongoDB
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build/Teste
/build
/coverage

# Sistemas operacionais
.DS_Store
Thumbs.db

# IDE/Editors
.idea
.vscode
*.swp
*.swo

# MongoDB específico
data/               # Pasta local do MongoDB se estiver usando versão local
*.mongodump         # Backups do banco de dados
